button{
  margin-top: 20px;
}

div.juistGetal {
  background-color: red;
}

div.verkeerdGetal {
    background-color: lightblue;
}

div.cijfer{
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 75px;
  text-align: center;
  padding: 25px 0 0 0;   
  margin : 10px;
}

div.divTrekking{
  margin : 20px;

}

divResponse {
  color:red;
  background-color: lightcoral;
  border: 2px solid red;
  margin-top: 10px;
  padding: 5px;
  display: none;
}
